<% if action == :edit && cat.persisted? %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>



<form action="<%= action_url %>" method="post">
    <% if action == :edit %>
        <input type="hidden" name='_method' value="PATCH">
    <% end %> 

    <label for="name">Cat's Name</label> 
    <input type="text" name="cat[name]" id="name" value="<%= cat.name %>">

    <label for="gender">Gender</label>
    <input type="radio" name="cat[gender]" id="gender" value="<%= cat.gender %>">

    <label for="color">Color</label>
    <select name="cat[color]" id="color">å
        <option disabled <%= cat.color ? "" : "selected" %>> -- please select a color -- </option>
        <option value="White" <%= cat.color == "white" ? "selected" : "" %> >White</option>
        <option value="Black" <%= cat.color == 'black' ? "selected" : '' %> >Black</option> 
        <option value="Gray" <%= cat.color == 'gray' ? "selected" : '' %> >Gray</option>
        <option value="Blue" <%= cat.color == 'blue' ? "selected" : '' %> >Blue</option>
        <option value="Yellow" <%= cat.color == 'yellow' ? "selected" : '' %> >Yellow</option>
    </select>
    
    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value = "<%= cat.birth_date  %>">

    <label for="description">Description</label>
    <textarea name="cat[name]">
        <%= cat.description %>
    </textarea>


</form>




