<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if !current_user.nil? %>
      <ul>
       <li> Loged in as: <%= current_user.username %></li>
        <form action="<%= session_url %>" method = 'post'>
        <input type="hidden" 
               name="authenticity_token" 
               value = "<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method">
        <input type="submit" value="Logout">
        </form>
      </ul>
    <% else %> 
        <form action="<%= new_user_url %>" method = "get">
          <input type="submit" value="Sign Up">
        </form>
        <form action="<%= new_session_url %>" method = "get">
          <input type="submit" value="Log In">
        </form>
    <% end %>
  
  </header>
    <%= yield %>
  </body>


  <footer>
    <p><%= link_to "Home", subs_url %></p>
  </footer>
</html>
